@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f1b35;
}

html {
  scroll-behavior: smooth;
}

main,
body {
  cursor: url("/cursor_pointer.png"), auto;
}

a,
button {
  cursor: url("/cursor_clicker.png"), auto;
}
